* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    color 0.4s,
    background-color 0.3s;
  line-height: 1.6;
  /* font-size: 1.3rem; */
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--vt-c-white-soft);
}

:root {
  --theme-color: #44c32e;
  --theme-color2:rgb(40, 176, 16);
  --theme-color-light: #50d738;

  --text-primary: rgb(92, 92, 92);
  --text-secondary: rgb(114, 114, 114);

}